//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #faf7f7;
$color-grey-medium: #eee;
$color-grey-dark: #777;
$color-grey-darker: rgb(68, 68, 68);

//FONT
$default-font-size: 16px;

//GRID
$grid-width: 1140px;
$grid-vertical: 80px;
$grid-horizantal: 60px;
/*


COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/
