.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url(../img/manuel-will-ZYE-LqEBtbo-unsplash.jpg);
  height: 95vh;
  background-size: cover;
  background-position: 10% 80%;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  position: relative;

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 94%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 94%);
  }

  &__logo-box {
    top: 1.5rem;
    left: 1.5rem;
    position: absolute;
  }
  &__logo {
    height: 11vh;
  }
  &__text-box {
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
  }
}

.heading-biketour {
  font-size: 3.5rem;
  margin-bottom: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05);

    text-shadow: 0.2rem 0.4rem 0.8rem rgba($color-black, 0.5);
  }
}
