.navigation {
  &-checkbox {
    display: none;
  }
  &-button {
    width: 7em;
    height: 7em;
    position: fixed;
    z-index: 100;
    top: 3.5em;
    right: 0.5em;
  }
  &-background {
    height: 4em;
    width: 4em;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
    position: fixed;
    border-radius: 50%;
    z-index: 20;
    top: 2em;
    right: 4em;

    transform: scale(80);
  }
  &-nav {
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 50;
  }
  &-list {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    list-style: none;
    text-align: center;
  }
  &-item {
  }
  &-link {
    text-decoration: none;
  }
}
