.popup {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba($color-black, 0.8);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba($color-black, 0.3);

  &:target {
    opacity: 1;
    visibility: visible;
  }
  &-close {
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      font-size: 3.2rem;
      top: 1.6rem;
      right: 1.6rem;
      position: absolute;
      transition: all 0.2s;
      line-height: 1;
    }
    &:hover {
      transform: scale(1.2);
      color: $color-primary;
    }
  }
  &-content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 3.2rem 6.4rem (rgba($color-black, 0.2));
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s;

    @include respond(tab-port) {
      width: 80%;
      height: 20%;
    }

    @include respond(phone) {
      width: 100%;
    }
    @media only screen and (min-width: 400px) {
      width: 70%;
    }
  }
  &:target &-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &-left {
    width: 33.3333333%;
    display: table-cell;

    @include respond(phone) {
      display: none;
    }
  }
  &-right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3.2rem;
  }
  &-img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      height: 35vh;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }
  &-text {
    font-size: 1.4rem;
    margin-bottom: 3.2rem;
    column-count: 2;
    column-gap: 8rem;
    column-rule: 0.2rem solid $color-grey-light-1;
    hyphens: auto;
    @include respond(phone) {
      column-count: 1;
    }
    @include respond(tab-port) {
      column-count: 1;
    }
  }
}
