.section-about {
  background-color: $color-grey-light-1;
  padding: 20em 0;
  margin-top: -15vh;
}

.section-features {
  background-color: $color-grey-light-1;
  padding: 20em 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url(../img/asd.jpg);
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  margin-top: -10em;
}
.section-tour {
  background-color: $color-grey-light-1;
  margin-top: -10em;
  padding: 25em 0 12em 0;
}
.section-stories {
  position: relative;
  margin-top: 0em;
  padding: 7em 0 10em 0;
  z-index: 1;
}
.section-book {
  padding: 5em 0 30em 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url('/img/booking1.jpg');
  background-size: cover;
  background-position: 30% 70%;
  height: 35em;
  border-radius: 3px;
  box-shadow: 0 1.5em 3em rgba($color-black, 0.2);

  &-form {
    padding: 5em;
    width: 50%;
  }
}
